section {
  padding: 50px 0;
}

section h2 {
    font-size: 3em;
    margin: 0;
  }

  .hAnim {
    position: relative;
    width: 90%;
  }

  .image {
    display: block;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222;
  }

  .hAnim:hover .overlay {
    opacity: 0.90;
  }

  .text {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#competence img{
  width: 50%;
}

.hImage {
}
